
Turismo/.vs/Turismo/v15/.suo
Turismo/.vs/config/applicationhost.config
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide-wal
TurismoReal/.vs/TurismoReal/v15/.suo
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide-shm
Turismo/Turismo/Views/Auth/View.cshtml
Turismo/Turismo/Turismo.csproj.user
Turismo/Turismo/Turismo.csproj
Turismo/Turismo/obj/Debug/Turismo.csprojAssemblyReference.cache
Turismo/Turismo/obj/Debug/Turismo.csproj.CoreCompileInputs.cache
Turismo/Turismo/obj/Debug/Turismo.csproj.AssemblyReference.cache
Turismo/Turismo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Turismo/Turismo/obj/Debug/build.force
Turismo/Turismo.Negocio/obj/Debug/Turismo.Negocio.csprojAssemblyReference.cache
Turismo/Turismo.Negocio/obj/Debug/Turismo.Negocio.csproj.CoreCompileInputs.cache
Turismo/Turismo.DALC/obj/Debug/Turismo.DALC.csprojAssemblyReference.cache
Turismo/Turismo.DALC/obj/Debug/Turismo.DALC.csproj.CoreCompileInputs.cache
Turismo/.vs/Turismo/v15/Server/sqlite3/storage.ide-wal
Turismo/.vs/Turismo/v15/Server/sqlite3/storage.ide-shm
Turismo/.vs/Turismo/v15/.suo
Turismo/.vs/config/applicationhost.config
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide-wal
TurismoReal/.vs/TurismoReal/v15/.suo
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide
TurismoReal/.vs/TurismoReal/v15/Server/sqlite3/storage.ide-shm
Turismo/Turismo/Turismo.csproj.user
Turismo/Turismo/Turismo.csproj
Turismo/Turismo/obj/Debug/Turismo.csprojAssemblyReference.cache
Turismo/Turismo/obj/Debug/Turismo.csproj.CoreCompileInputs.cache
Turismo/Turismo/obj/Debug/Turismo.csproj.AssemblyReference.cache
Turismo/Turismo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Turismo/Turismo.Negocio/obj/Debug/Turismo.Negocio.csprojAssemblyReference.cache
Turismo/Turismo.Negocio/obj/Debug/Turismo.Negocio.csproj.CoreCompileInputs.cache
Turismo/Turismo.DALC/obj/Debug/Turismo.DALC.csprojAssemblyReference.cache
Turismo/Turismo.DALC/obj/Debug/Turismo.DALC.csproj.CoreCompileInputs.cache
Turismo/.vs/Turismo/v15/Server/sqlite3/storage.ide-wal
Turismo/.vs/Turismo/v15/Server/sqlite3/storage.ide-shm
Turismo/.vs/Turismo/v15/.suo
