.h3-Slide {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.p-Slide {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.servicio {
    /* object-fit: contain; */
    /* min-height:400px; */
    /* min-width: 500px; */
    /* height: 50vh; */
    /* max-width: 500px; */
    display: block;
    height: 500px;
    width: 100%;
    
}