.h3-Slide {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.p-Slide {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 851px) {
    .imgCarrusel {
        /* object-fit: contain; */
        display: block;
        /* min-height:400px; */
        /* min-width: 500px; */
        height:700px;
        width: 100%;
}}

@media screen and (max-width: 850px) {
    .imgCarrusel {
        /* object-fit: contain; */
        display: block;
        /* min-height:400px; */
        /* min-width: 500px; */
        height:500px;
        width: 100%;
}}

@media screen and (max-width: 501px) {
    .imgCarrusel {
    /* object-fit: contain; */
    display: block;
    /* min-height:400px; */
    /* min-width: 500px; */
    height:200px;
    width: 100%;
}}

#Carrusel {
    /* margin: auto; */
    /* margin-bottom: 1%; */
    border: black;
    border-radius: 10px;
    /* width: 100vh; */
    /* min-height: 400px; */
    max-height: 700px;    
    max-width: 80%;   
    margin-left: auto;
    margin-right: auto;
    
}

#div-carrusel{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(46,68,133,1) 50%, rgba(0,0,0,1) 100%);
    align-content: center;
    background-size: cover;
    /* max-height: 700px; */
    position: relative;
    top: 0;
}