.main-footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0%;
    /* padding: 1rem; */
    background-color: black;
    color: white;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-bottom{
    padding-top: 10px;
    padding-bottom: 8px;
}

#h4-footer{
    font-weight: bold;    
}


#equipo{
    text-align: center;
}

#equipo{
    text-align: left;
}

#ul-footer-equipo{
    list-style-type:none;
    /* list-style-position: inside; */
    text-align: left;
    padding-right: 1px;
    /* font-size: 15px; */
}

#ul-footer-links{
    list-style-type:none;
    /* list-style-position: inside; */
    text-align: left;
}

#container-footer{
    max-width: 86%;
    padding:0% auto 0%;
}

#a-footer{
    text-decoration: none;
    color: white;
}



#image-footer{
    height: 90%;
    width: 100%;
    padding: 4% 0% 4%;
}

#a-footer:link {
    color: white;
    text-decoration: none;
    
  }
  
  #a-footer:visited {
    color: white;
    text-decoration: none;
  }
  
  #a-footer:hover {
    color: rgb(206, 179, 62);
    text-decoration: none;
  }
  
  #a-footer:active {
    color: cyan;
    text-decoration: none;
  } 