#home-body{
    background-image: url("https://images.hdqwalls.com/wallpapers/city-lights-buildings-4k-og.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    color: white;
    /* position: relative; */
}

#homeContainer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
}

#row-home{
    max-width: 100%;
    width: 100%;
    padding: 0px;
}

#ul-home{
    list-style-type: circle white;
    list-style-position: inside;
    text-align: left;
    font-size: 130%;
    font-style: bolder;
}


#title-home-about{
    padding-top: 1%;
    padding-bottom: 3%;
    text-shadow: 6px 4px 4px #638a89, 6px 4px 4px #638a89;
}


#list{
    padding-top: 5px;
    max-width: max-content;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}



#carruselS{
    /* max-height: 600px; */
    margin-top: 5%;
    /* margin-bottom: 50px; */
    margin-right: 4%;
    margin-left: 4%;
}

#row2{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 1px solid cornsilk;
    justify-content: center;
    padding-right: 0px;
    margin: 0px;
}
#desc-home-about{
    padding-bottom: 2%;
}

#title-home-services{
    padding-bottom: 2%;
}

#homeDiv{
    /* margin-top: 5px; */
    min-width: 100%;
}
