.container{
    text-align: center;
    justify-content: center;
}

#login-body{
    color: white;
    background-image: url("https://wallpapercave.com/wp/wp2901668.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#background-login{
    size: 100%;
    min-height: 100vh;
    /* position: absolute; */
    z-index: -1;
}

#login{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 7% 7% 15%;
    background: black;
    opacity: 0.9;
}


#title-login{
    padding-bottom: 10%;
}

