#body-mantenciones{
    color:white;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(70,116,175,1) 100%);
    /* padding-bottom: 5%; */
    min-height: 100vh;
}

#div-buscar-man{
    margin-top: 5%;
    padding: 5%;
    background-color: black;
    opacity: 0.85;
    border: 1px solid white;
    border-radius: 100px;
}

#container-mantenciones{
    margin-top: 2%;
    width: 90%;
}

#btn-res-mant{
    padding: 1%;
    border: 1px solid white;
    /* border-radius: 50px; */
    min-width: 25%;
    margin-bottom: 2%;
}

