.main-footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0%;
    /* padding: 1rem; */
    background-color: black;
    color: white;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* max-height: 300px; */
}

.footer-bottom{
    padding-top: 10px;
    padding-bottom: 8px;
}


#h4-footer{
    font-weight: bold;    
}


#icono{
    font-size: 20px;
    text-align: center;
    /* @media screen 100px {        
    } */
}

#equipo{
    text-align: left;
}

#ulFooter{
    list-style-type:none;
    /* list-style-position: inside; */
    text-align: center;
    font-size: 15px;

}