@model TurismoReal.Negocio.Condominio

@{
    ViewBag.Title = "Create";
}

<div class="col-md-12 col-sm-12 text-white">

    <!--Titulo-->
    <div class="mt-5 mb-5 text-center">
        <h2>Agregar nuevo Condominio</h2>
    </div>

    <div class="row text-center mx-5">
        <div class="col-6 form-text text-white text-start">

            @using (Html.BeginForm())
            {
                <div class="mt-4 mb-2">
                    @Html.LabelFor(c => c.Nom_con, "NOMBRE")
                </div>
                <div class="mt-4 mb-2">
                    @Html.TextBoxFor(c => c.Nom_con)
                </div>

                <br />

                <div class="mt-4 mb-2">
                    @Html.LabelFor(c => c.Id_com, "Comuna")
                </div>
                <div class="mt-4 mb-2">
                    @Html.DropDownListFor(c => c.Id_com, new SelectList(ViewBag.comunas, "Id_com", "Nom_com"))
                </div>
                <br />
                <button>Guardar</button>

            }
        </div>

    </div>
</div>
