
@{
    ViewBag.Title = "Index";
}

<h2>Turismo Real app</h2>
<p>Turismo Real página de administrador</p>


@Html.ActionLink("Ver departamentos", "Index", "Departamento") 
<br/>
<br />
@Html.ActionLink("Agregar departamento", "Create", "Departamento")